<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>userSignupServlet</servlet-name>
        <servlet-class>userSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userLoginServlet</servlet-name>
        <servlet-class>userLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userLogout</servlet-name>
        <servlet-class>userLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userChangePasswordServletServlet</servlet-name>
        <servlet-class>userChangePasswordServletServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userChangePasswordServlet</servlet-name>
        <servlet-class>userChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchUserServlet</servlet-name>
        <servlet-class>searchUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFriendServlet</servlet-name>
        <servlet-class>addFriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rejectFriendRequestServlet</servlet-name>
        <servlet-class>rejectFriendRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptFriendRequestServlet</servlet-name>
        <servlet-class>acceptFriendRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelFriendRequestServlet</servlet-name>
        <servlet-class>cancelFriendRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFriendRequestFromProfileServlet</servlet-name>
        <servlet-class>deleteFriendRequestFromProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unfriendServlet</servlet-name>
        <servlet-class>unfriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compile_code_step1_servlet</servlet-name>
        <servlet-class>compile_code_step1_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compile_code_step2_servlet</servlet-name>
        <servlet-class>compile_code_step2_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>runCodeServlet</servlet-name>
        <servlet-class>runCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>runJavaCodeServlet</servlet-name>
        <servlet-class>runJavaCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>c_compile_code_step2_servlet</servlet-name>
        <servlet-class>c_compile_code_step2_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cpp_compile_code_step2_servlet</servlet-name>
        <servlet-class>cpp_compile_code_step2_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>runCppCodeServlet</servlet-name>
        <servlet-class>runCppCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userSignupServlet</servlet-name>
        <url-pattern>/userSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userLoginServlet</servlet-name>
        <url-pattern>/userLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userLogout</servlet-name>
        <url-pattern>/userLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userChangePasswordServletServlet</servlet-name>
        <url-pattern>/userChangePasswordServletServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userChangePasswordServlet</servlet-name>
        <url-pattern>/userChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchUserServlet</servlet-name>
        <url-pattern>/searchUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFriendServlet</servlet-name>
        <url-pattern>/addFriendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rejectFriendRequestServlet</servlet-name>
        <url-pattern>/rejectFriendRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptFriendRequestServlet</servlet-name>
        <url-pattern>/acceptFriendRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelFriendRequestServlet</servlet-name>
        <url-pattern>/cancelFriendRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFriendRequestFromProfileServlet</servlet-name>
        <url-pattern>/deleteFriendRequestFromProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unfriendServlet</servlet-name>
        <url-pattern>/unfriendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compile_code_step1_servlet</servlet-name>
        <url-pattern>/compile_code_step1_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compile_code_step2_servlet</servlet-name>
        <url-pattern>/compile_code_step2_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>runCodeServlet</servlet-name>
        <url-pattern>/runCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>runJavaCodeServlet</servlet-name>
        <url-pattern>/runJavaCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>c_compile_code_step2_servlet</servlet-name>
        <url-pattern>/c_compile_code_step2_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cpp_compile_code_step2_servlet</servlet-name>
        <url-pattern>/cpp_compile_code_step2_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>runCppCodeServlet</servlet-name>
        <url-pattern>/runCppCodeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
